
<div class="container">
  <h1 style="text-align: center;">Welcome {{title}}</h1>
  
<!--Method 1 : Data sharing from Parent to child -->
<!--
<h1>{{forparent}}</h1>
<app-child1 [inputfromparent]="forchild"></app-child1> 
-->



<!-- Method 2 : data sharing from child to parent-->
<h1>{{X}}</h1>
<app-child1  (updatedMessage)="callParent($event)"></app-child1>
</div>






<!-- method 3: @viewchild -->

  <h1>{{forparent}}</h1>
<app-child1></app-child1>
<button type="button" (click)="buttonClick()">Click</button>



<!-- method 4: data sharing between unrelated components
-->